<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGNUP!!!!</h1>
    <form action="../php/signup.php" method="post" novalidate>
        
        <!-- Personal Information -->
        <h4>Personal Information</h4>
        <!-- Employee # -->
        <label for="employee_no">Employee number: </label>
        <input type="text" name="employee_no" required placeholder="Employer number"><br>
        
        <!-- Department -->
        <label for="department">Select your Department: </label><br>
           <select name="department" required>
               <option value="Civil Engineering">Civil Engineering</option>
               <option value="Computer Engineering">Computer Engineering</option>
               <option value="Electrical Engineering">Electrical Engineering</option>
               <option value="Electronics Engineering">Electronics Engineering</option>
               <option value="Mechanical Engineering">Mechanical Engineering</option>
           </select><br>

        <!-- Name -->
        <label for="name">Name: </label>
        <input type="text" name="name" required placeholder="Name"><br>
        
        <!-- Address -->
        <!-- House No. -->
        <label for="house_no">Address: </label><br>
        <input type="text" name="house_no" required placeholder="House number"><br>

        <!-- Barangay -->
        <input type="text" name="barangay" required placeholder="Barangay">

        <!-- Municipality -->
        <input type="text" name="municipality" required placeholder="Municipality"><br>

        <!-- Region -->
        <input type="text" name="region" required placeholder="Region">

        <!-- Province -->
        <input type="text" name="province" required placeholder="Province"><br>

        <!-- Country -->
        <input type="text" name="country" required placeholder="Country">

        <!-- Postal Code -->
        <input type="text" name="postal_code" required placeholder="Postal Code"><br><br>

        <!-- Contact Information -->
        <h4>Contact Information</h4>
        <!-- Email -->
        <label for="email">Email: </label>
        <input type="email" name="email" required placeholder="Email"><br>
        
        <!-- Contact Number -->
        <label for="contact_num">Contact Number: </label>
        <input type="text" name="contact_num" required placeholder="Contact Number"><br>

        <!-- Telephone Number -->
        <label for="telephone_num">Telephone Number: </label>
        <input type="text" name="telephone_num" required placeholder="Telephone Number"><br><br>
        
        <!-- Signup Credential -->
        <h4>SIGNUP CREDENTIAL</h4>
        <!-- Email -->
        <label for="email_2">Email: </label>
        <input type="email" name="email_2" required placeholder="Email"><br>
        
        <!-- Password -->
        <label for="password">Password: </label>
        <input type="password" name="password" required placeholder="Password"><br>

        <!-- Confirm Password -->
        <label for="confirm_password">Confirm Password: </label>
        <input type="password" name="confirm_password" required placeholder="Confirm Password"><br>
        
        <button type="submit">SIGNUP</button>
    </form>
    <a href="../index.php">LOGIN</a>
</body>
</html>